# Live config — never commit real values
config/env
config/gateway.yml
config/bootstrap-registry.json

# Runtime data
data/
logs/

# Node
app/node_modules/
app/.env
app/*.log

# Backup artifacts from update/rollback
app.prev/
app.bad/

# Secrets
*.secret
*.key
*.pem
